:root {
  --main: #f1fcfd;
  --bg2: #c7eeff;
  --bg3: #4d6de3;
  --black: #393737;
  --gray: #d9d9d9;
  --green: #0de723;
  --red: #f51515;
  --orange: #f88f17;
  --yellow: #f5ff34;

  /* opacity 70 */
  --main-7: hsla(185, 75%, 97%, 0.7);
  --primary-7: hsla(198, 100%, 89%, 0.7);
  --secondary-7: hsla(227, 73%, 60%, 0.7);
  --black-7: hsla(0, 2%, 22%, 0.7);

  /* opacity 50 */
  --main-5: hsla(185, 75%, 97%, 0.5);
  --primary-5: hsla(198, 100%, 89%, 0.5);
  --secondary-5: hsla(227, 73%, 60%, 0.5);
  --black-5: hsla(0, 2%, 22%, 0.5);

  /* opacity 20 */
  --main-2: hsla(185, 75%, 97%, 0.2);
  --primary-2: hsla(198, 100%, 89%, 0.2);
  --secondary-2: hsla(227, 73%, 60%, 0.2);
  --black-2: hsla(0, 2%, 22%, 0.2);
  --gray-2: hsla(0, 0%, 85%, 0.2);
  --green-2: hsla(126, 89%, 48%, 0.2);
  --red-2: hsla(0, 92%, 52%, 0.2);
  --orange-2: hsla(32, 94%, 53%, 0.2);
  --yellow-2: hsla(63, 100%, 60%, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
