/* Local variables for the component */
.ps-rating-container {
  background: var(--white);
  padding: 24px;
  border-radius: 12px;
  max-width: 650px;
  font-family: "Inter", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ps-rating-question {
  color: var(--black);
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 24px;
}

.ps-rating-options {
  display: flex;
  justify-content: flex-start;
  gap: clamp(5px, 3vw, 30px);
}

.ps-rating-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: clamp(50px, 5vw, 70px);
}

.ps-rating-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #d1d1d1;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  color: var(--black);
}

.ps-rating-circle:hover {
  border-color: var(--bg3);
  background-color: var(--secondary-2);
}

.ps-rating-circle.selected {
  background-color: var(--bg3);
  border-color: var(--bg3);
  color: var(--white);
}

.ps-rating-label {
  font-size: 0.8rem;
  color: #888;
  text-align: center;
  line-height: 1.2;
}
